<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start>
      <button (click)="onRedeem()" ion-button icon-only color="primary">
          <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="text-center" primary tb-header>{{ authService.franchiseName }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="redeemTab()" corona>
          ${{ authService.getTab() }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <ion-tabs (ionChange)="onTabChange($event)" (swipe)="onSwipe($event)" #tabsRef selectedIndex="0">
    <ion-tab tabIcon="ios-analytics" [root]="Dashboard" [show]="tabsOrder.includes(0)"></ion-tab>
    <ion-tab tabIcon="logo-buffer" [root]="Offers" [show]="tabsOrder.includes(1)"></ion-tab>
    <ion-tab tabIcon="md-pricetag" [root]="Redeems" [show]="tabsOrder.includes(2)"></ion-tab>
    <ion-tab tabIcon="settings" [root]="Settings" [show]="tabsOrder.includes(3)"></ion-tab>
    <ion-tab tabIcon="help-circle" [root]="Help" [show]="tabsOrder.includes(4)"></ion-tab>
    <ion-tab tabIcon="md-exit" (ionSelect)="onLogout()" [show]="tabsOrder.includes(5)"></ion-tab>
  </ion-tabs>
</ion-content>
<help-viewer *ngIf="showHelper" [video]="helperURL" (hide)="showHelper = false"></help-viewer>
