<ion-card  mercial flex size="small">
  <cl-image
    class="mercials-image"
    dpr="auto"
    responsive
    width="auto"
    crop="fill"
    [public-id]="offer.image"
    height="350"
    size="small">
  </cl-image>
  <h2 class="card-title" bold>{{ offer.name }}</h2>
  <p class="card-subtitle" tags><span class="tags" (click)="onAddressView()" clickable>{{ offer.locations[0].formatted }}</span></p>
  <div class="card-spacer"></div>
  <div class="card-buttons">
    <button class="little only" (click)="onView()" ion-button icon-only>
      <ion-icon name="md-create"></ion-icon>
    </button>
    <button class="little only" (click)="onAnalytics()" ion-button icon-only>
      <ion-icon name="ios-analytics"></ion-icon>
    </button>
  </div>
</ion-card>
