<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <div class="fd-basis">
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="albums" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text">
        {{ offersPosted }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        offers_posted
      </ion-card-content>
    </ion-card>
    <ion-card (click)="showTab = !showTab">
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="cash" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text" *ngIf="!showTab">
        {{ moneyMade | currency }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate *ngIf="!showTab">
        money_made
      </ion-card-content>
      <ion-card-header primary class="fd-analytic-header center-text" *ngIf="showTab">
        {{ currentTab | currency }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate *ngIf="showTab">
        current_tab
      </ion-card-content>
    </ion-card>
  </div>
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="pricetags" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text">
        {{ offersRedeemed }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        offers_redeemed
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <button class="fd-analytic-icon" ion-button icon-only>
        <ion-icon name="arrow-round-up" color="primary"></ion-icon>
      </button>
      <ion-card-header primary class="fd-analytic-header center-text">
        {{ rank }}
      </ion-card-header>
      <ion-card-content class="fd-analytic-subtext" translate>
        rank
      </ion-card-content>
    </ion-card>
    <div class="fd-basis">
      <ion-card>
        <button class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="contacts" color="primary"></ion-icon>
        </button>
        <ion-card-header primary class="fd-analytic-header center-text">
          {{ nearMe }}
        </ion-card-header>
        <ion-card-content class="fd-analytic-subtext" translate>
          users_near_me
        </ion-card-content>
      </ion-card>
      <ion-card>
        <button class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="star" color="primary"></ion-icon>
        </button>
        <ion-card-header primary class="fd-analytic-header center-text">
          <ion-icon primary *ngIf="rating_raw == 0 || !rating_raw" name="star-outline"></ion-icon><ion-icon primary *ngFor="let rate of rating" name="star"></ion-icon><ion-icon primary *ngIf="rhalf" name="star-half"></ion-icon>
        </ion-card-header>
        <ion-card-content class="fd-analytic-subtext" translate>
          rating
        </ion-card-content>
      </ion-card>
    </div>
  <ion-card>
    <ion-card-header style="color: #663399;" [innerHTML]="'coau' | translate">
      Customers <span class="fd-analytic-header-tiny mlr-extra-small">(Only App Users)</span>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="300" height="400"
        [datasets]="customersData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="customersChartColors"
        [legend]="true"
        [chartType]="lineChartType"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <button class="fd-analytic-icon" ion-button icon-only>
      <ion-icon name="pin" color="primary"></ion-icon>
    </button>
    <ion-card-header primary class="fd-analytic-header center-text">
      <agm-map style="width: 100%" *ngIf="locations" [fullscreenControl]="true" [latitude]="locations[0].lat" [longitude]="locations[0].lng" [zoom]="zoom" [streetViewControl]="false" [fitBounds]="bounds" #map>
        <agm-marker *ngFor="let location of locations; let i = index" [latitude]="location.lat" [longitude]="location.lng" [title]="location.formatted">
            <agm-info-window><b>{{ authService.getFranchiseName() }}</b> <br /> <span>{{ location.formatted.substr(0,25) }}...</span></agm-info-window>
        </agm-marker>
      </agm-map>
      <div class="break" xsmall></div>
    </ion-card-header>
    <ion-card-content class="fd-analytic-subtext" translate>
      franchise_location$para$s
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="color: #663399;" translate>
      nearby_users_growth
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart width="300" height="400"
           [datasets]="nearbyData"
           [labels]="lineChartLabels"
           [options]="lineChartOptions"
           [colors]="nearbyChartColors"
           [legend]="false"
           [chartType]="lineChartType"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
