<ion-content class="purple">
  <div class="spacer"></div>

  <form class="fd-form" fill #registerForm="ngForm" (ngSubmit)="onRegisterSubmit()">
    <h1 class="fd-form-title" cursive primary translate>register</h1>

    <div class="break" medium></div>
    <ion-item class="fd-item fd-input-holder" center>
        <ion-input type="text" primary [placeholder]="'franchise_name' | translate" name="franchise-name" autocomplete="franchise-name" required ngModel></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center (click)="resetLocation()">
        <ion-input type="text" primary [placeholder]="'franchise_address' | translate" name="franchise-address" autocomplete="off" required ngModel (keyup)="resetLocation()" [ngModelOptions]="{updateOn: 'change'}"></ion-input>
    </ion-item>

    <input type="hidden" name="franchise-country" class="fd-input" autocomplete="off" spellcheck="false" required ngModel/>
    <input type="hidden" name="franchise-lat" class="fd-input" autocomplete="off" spellcheck="false" required ngModel/>
    <input type="hidden" name="franchise-lng" class="fd-input" autocomplete="off" spellcheck="false" required ngModel/>
    <input type="hidden" name="franchise-postal" class="fd-input" autocomplete="off" spellcheck="false" required ngModel/>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
        <ion-input type="text" primary [placeholder]="'full_name' | translate" name="fullname" autocomplete="name" required ngModel></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
        <ion-input type="text" primary [placeholder]="'email_address' | translate" name="email" autocomplete="email" required ngModel></ion-input>
    </ion-item>
    <div class="break" small></div>
    <ion-item class="fd-item fd-input-holder" center>
        <ion-input type="password" primary [placeholder]="'password' | translate" name="password" autocomplete="new-password" minlength="4" required ngModel></ion-input>
    </ion-item>
    <div class="break" small></div>
    <div class="break" small ldisplay></div>
    <div class="fd-basis">
        <button caps ion-button round color="primary" white class="fd-button fd-button-full" [disabled]="registerForm.invalid">{{'register' | translate}}</button>
    </div>
    <div class="break" small ldisplay></div>
    <p class="fd-form-text consent" center primary [innerHTML]="'tos' | translate"></p>
    <p class="fd-form-text" primary center><a caps inline primary [navPush]="login" translate>login</a></p>
    <div class="break" small></div>
  </form>
  <div class="break" small></div>
</ion-content>
<mercial-loader></mercial-loader>
