<ion-header>
  <ion-navbar color="light">
    <ion-buttons left>
      <button ion-button icon-only navPop>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'scan_an_offer' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="codeContainer" *ngIf="codePrompt">
    <div class="showwer" primary>{{ userCode }}</div>
    <div class="pad">
      <span class="digit" primary (click)="onAddCode('1')">1</span>
      <span class="digit" primary (click)="onAddCode('2')">2</span>
      <span class="digit" primary (click)="onAddCode('3')">3</span>
      <span class="digit" primary (click)="onAddCode('4')">4</span>
      <span class="digit" primary (click)="onAddCode('5')">5</span>
      <span class="digit" primary (click)="onAddCode('6')">6</span>
      <span class="digit" primary (click)="onAddCode('7')">7</span>
      <span class="digit" primary (click)="onAddCode('8')">8</span>
      <span class="digit" primary (click)="onAddCode('9')">9</span>
      <span class="digit" primary (click)="onAddCode('0')">0</span>
      <ion-icon class="digit" name="backspace" (click)="onDeleteCharacter()" primary></ion-icon>
    </div>
  </ion-card>
  <div class="fini success" (click)="retryScanner( )" [attr.invisible]="!success" *ngIf="success">
    <ion-icon class="material-icons ssi" primary name="checkmark"></ion-icon>
    <div class="break" small></div>
    <ion-icon class="material-icons ssi" primary name="home"></ion-icon>
  </div>
  <mercial-loader [awaiting]="false" inline></mercial-loader>
</ion-content>
