<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item no-lines transparent *ngFor="let offer of offers; let i = index">
    <app-franchise-offer [offer]="offer"></app-franchise-offer>
  </ion-item>

  <ion-fab bottom right #fab>
      <button ion-fab color="primary" (click)="onAddOffer()">
          <ion-icon name="add"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
