// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Satisfy-Regular.ttf') format('truetype'),
       url('https://fonts.gstatic.com/s/satisfy/v8/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

.scroll-content {
  padding-bottom: 0 !important;
}

* {
  font-family: 'Open Sans';
}

*[caps] {
  text-transform: uppercase;
}

ion-item {
  background: transparent;
  background-color: transparent !important;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ion-input[white-all] {
  color: white;
}

.text-input[white-all]::-moz-placeholder {
  color: white;
}

.text-input[white-all]:-ms-input-placeholder {
  color: white;
}

.text-input[white-all]::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

ion-input[primary-all] {
  color : color($colors, primary, base);
}

.text-input[primary-all]::-moz-placeholder {
  color : color($colors, primary, base);
}

.text-input[primary-all]:-ms-input-placeholder {
  color : color($colors, primary, base);
}

.text-input[primary-all]::-webkit-input-placeholder {
  text-indent: 0;
  color : color($colors, primary, base);
}

.fd-input-holder {
  background: white;
  background-color: white !important;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1.25em; /* 20/16 */
  padding-left: 0.938em !important; /* 15/16 */
  padding-right: 0.938em !important; /* 15/16 */
  width: auto;
  border: 0.125em solid transparent; /* 2/16 */
  box-shadow: 0em 0.063em 0.625em 0.063em rgba(0,0,0,0.1); /* 0/16, 1/16, 10/16, 1/16 */

  & .item-inner {
    border-bottom: none !important;
    padding-right: 0em !important; /* 0/16 */
  }

  & .text-input-ios {
    margin: 0 !important;
    width: 100%;
  }

  &[center] input {
    text-align: center;
  }

  & input[type="password"][bullet] {
    letter-spacing: 0.188em; /* 3/16 */
  }

  & input[has-limit] {
    padding-right: 1.25em !important; /* 20/16 */
  }

  & .select-text {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .select-icon {
    position: absolute;
    right: 1.25em; /* 20/16 */
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.datetime-text {
  width: 100%;
  text-align: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-basis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-basis[fifty] {
  flex-basis: 50%;
}

.fd-basis-full {
  flex-basis: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
}

*[hidden] {
  display: none;

  & * {
    display: none !important;
  }
}

a[inline] {
  color : color($colors, primary, base);
}

a[inline][pop] {
  z-index: 1000;
  position: absolute;
  margin-left: 0.094em; /* 1.5/16 */
  margin-right: 0.094em; /* 1.5/16 */
}

.break {
  width: 100%;
  display: block;
}

.break[xsmall] {
  height: 0.781em; /* 12.5/16 */
}

.break[small] {
  height: 1.563em; /* 25/16 */
}

.break[small][percent] {
  height: 9%;
}

.break[medium] {
  height: 3.125em; /* 50/16 */
}

.break[ldisplay] {
  display: none;
}

.md .break[ldisplay] {
  display: break;
}

@media (max-height: 800px) {
  .break[ldisplay] {
    display: none;
  }
}

.fd-card {
  border-radius: 0.25em; /* 4/16 */
}

.mtb-extrasmall {
  margin-top: 0.313em !important; /* 5/16 */
  margin-bottom: 0.313em !important; /* 5/16 */
}

.mtb-small {
  margin-top: 0.781em !important; /* 12.5/16 */
  margin-bottom: 0.781em !important; /* 12.5/16 */
}

.mtb-medium {
  margin-top: 1.563em !important; /* 25/16 */
  margin-bottom: 1.563em !important; /* 25/16 */
}

.m-header {
  margin-bottom: 3.125em !important; /* 50/16 */
}

.mlr-extra-small {
  margin-left: 0.313em !important; /* 5/16 */
  margin-right: 0.313em !important; /* 5/16 */
}

.mlr-small {
  margin-left: 0.781em !important; /* 12.5/16 */
  margin-right: 0.781em !important; /* 12.5/16 */
}

.mlr-medium {
  margin-left: 1.563em !important; /* 25/16 */
  margin-right: 1.563em !important; /* 25/16 */
}

.mlr-large {
  margin-left: 3.125em !important; /* 50/16 */
  margin-right: 3.125em !important; /* 50/16 */
}

.fd-form {
  position: relative;
  height: auto;
  width: 21.875em; /* 350/16 */
  padding: 0.781em; /* 12.5/16 */
}

.fd-form[fill] {
  width: 100%;
  overflow: auto;
}

.fd-form-title {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em; /* 52/16 */
  text-align: center;
  flex-direction: column;
  margin: 0;
  margin-top: 0;
}

.fd-form-subtitle {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0;
  margin-top: 0;
}

.fd-form-text {
  position: relative;
  font-size: 1em; /* 16/16 */
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: inline-block;
}

.fd-form-text.main {
  font-weight: bold;
}

.fd-form-text[center] {
  text-align: center;
}

.fd-map-300 {
  width: 18.75em; /* 300/16 */
  height: 18.75em; /* 300/16 */
}

*[faq-text] > a, *[faq-text] > i {
  color: color($colors, primary, base);
}

*[primary] {
  color: color($colors, primary, base) !important;
}

*[white] {
  color: color($colors, white, base) !important;
}

*[bold] {
  font-weight: bold !important;
}

*[absolute] {
  position: absolute;
}

*[cursive] {
  font-family: 'Satisfy' !important;
}

.toolbar-title {
  color: #663399 !important;
  text-align: center !important;
  left: 0 !important;
}

.toolbar-background {
  border: none;
  border-color: transparent !important;
}

.tabbar {
  background: #fff !important;
  border-top: none !important;
  box-shadow: 0em -0.063em 0.625em 0.063em rgba(0,0,0,0.2); /* 0/16, -1/16, 10/16, 1/16 */
  border-top-left-radius: 1.25em; /* 20/16 */
  border-top-right-radius: 1.25em; /* 20/16 */
}

.tabbar::before {
  display: none !important;
}

.tab-button[aria-selected="false"] .tab-button-text {
  display: none;
}

.tab-button {
  flex-direction: row !important;

  & .tab-button-icon {
    min-width: 1.875em; /* 30/16 */
  }

  & .tab-button-text {
    margin-left: 0.125em; /* 2/16 */
  }
}

button[corona] {
  min-width: 1.875em !important; /* 30/16 */
  padding-left: 0.25em !important; /* 4/16 */
  padding-right: 0.25em !important; /* 4/16 */
}
button[corona]::after {
  background: rgba(102,51,153, 0.3);
  width: -webkit-fill-available;
  min-width: 1.875em; /* 30/16 */
  min-height: 1.875em; /* 30/16 */
  position: absolute;
  border-radius: 0.938em; /* 15/16 */
  top: 0.063em; /* 1/16 */
  bottom: 0.063em; /* 1/16 */
  margin: 0 auto;
  content: "";
}

.tab-button[aria-selected="true"]::after {
  background: rgba(102,51,153, 0.3);
  width: 75%;
  height: 3.5em; /* 35/16 */
  position: absolute;
  border-radius: 1.1em; /* 15/16 */
  content: "";
}

.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
  margin-top: 0em; /* 0/16 */
}

.ion-ios-analytics-outline:before {
  content: "\f3ce";
}

.ion-ios-help-circle-outline:before {
  content: "\f198";
}

.ion-ios-play-outline:before {
  content: "\f488";
}

.ion-ios-exit-outline:before {
  content: "\f177";
}

.ion-ios-settings-outline:before {
  content: "\f4a7";
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.ssi {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 5.25em !important; /* 84/16 */
  color: var(--primary);
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #663399;
}

.spinner {
  margin: 6.25em auto 0; /* 100/16 */
  width: 4.375em; /* 70/16 */
  text-align: center;
}

.spinner > div {
  width: 1.125em; /* 18/16 */
  height: 1.125em; /* 18/16 */
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.codeContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 7%;
  height: 85%;
  display: flex;
  flex-direction: column;

  & .showwer {
    flex-basis: 20%;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.375em; /* 6/16 */

    &:empty::after {
      content: "\2022\2022\2022\2022\2022\2022\2022\2022";
      opacity: 0.2;
      font-size: 5rem;
      letter-spacing: 0.625em; /* 10/16 */
    }
  }

  & .pad {
    flex-basis: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    & .digit {
      flex-basis: 33.33%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.7rem;
    }
  }
}
