<ion-header>
  <ion-navbar color="light">
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'new_offer' | translate}}</ion-title>
  </ion-navbar>
  <div class="progress-bar" [attr.value]="pageNumber+'/2'">

  </div>
</ion-header>
<ion-content>
  <form class="fd-form" fill style="left:0; height: 100%;" #newOfferForm="ngForm" (ngSubmit)="onSubmit(newOfferForm)" encrypt="multipart/form-data">
    <input type="hidden" [ngModel]="authService.getAUTH()" name="auth" contenteditable="false" readonly required/>
    <section [attr.hidden]="pageNumber == 1 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>information</h1>
      <div class="break" medium></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary has-limit [placeholder]="'title' | translate" type="text" type="text" name="title" autocomplete="title" autofocus maxlength="35" required ngModel #titleInput></ion-input>
        <button ion-button clear button-icon color="dark" type="button" item-right>{{ 35 - titleInput.value.length }}</button>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary has-limit [placeholder]="'description' | translate" type="text" name="description" autocomplete="description" maxlength="140" spellcheck="true" ngModel #descriptionInput></ion-input>
        <button ion-button clear button-icon color="dark" type="button" item-right>{{ 140 - descriptionInput.value.length }}</button>
      </ion-item>
      <div class="break" small></div>
      <div class="fd-basis">
        <button ion-button round caps class="mlr-small" type="button" color="primary" (click)="onChooseThumbnail()">{{ fileURI ? fileURI.substr(-10,10) : 'thumbnail' | translate}}</button>
      </div>
    </section>
    <section [attr.hidden]="pageNumber == 2 ? null : true">
      <div class="break" medium ldisplay></div>
      <div class="break" medium ldisplay></div>
      <div class="break" small ldisplay></div>
      <h1 class="fd-form-subtitle" primary translate>savings$and$avai</h1>
      <div class="break" medium></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'amount_of_saved_money' | translate" type="text" name="savings" autocomplete="money" required [pattern]="moneyValidator" ngModel [ngModelOptions]="{updateOn: 'blur'}"></ion-input>
      </ion-item>
      <div class="break" small></div>
      <ion-item no-margin no-border class="fd-item fd-input-holder" center>
        <ion-input primary [placeholder]="'amount_of_refund' | translate" type="text" name="refund" autocomplete="refund" required [pattern]="moneyValidator" ngModel></ion-input>
      </ion-item>
      <div class="break" small></div>
      <ion-card>
        <div class="break" xsmall></div>
        <ion-list style="background: white !important" no-lines>
          <input type="hidden" name="locations" class="fd-input" [ngModel]="this.locations" required/>
          <ion-list-header no-lines primary>
            {{'locations_offer_available' | translate}}
          </ion-list-header>
          <ion-item>
            <ion-label translate>all</ion-label>
            <ion-checkbox type="checkbox" (ionChange)="allLocationsChecked($event)" [checked]="locations.all"></ion-checkbox>
          </ion-item>
          <ion-item *ngFor="let location of locations.address; let i = index">
            <ion-label>{{ location.f }}</ion-label>
            <ion-checkbox type="checkbox" [checked]="location.c" (ionChange)="locationSelected($event, i, newOfferForm)"></ion-checkbox>
          </ion-item>
        </ion-list>
        <div class="break" xsmall></div>
      </ion-card>
    </section>
    <button clear style="position: absolute; bottom: 20px; left: 10px; z-index: 1;font-size: 1.4em" ion-button icon-only type="button" name="back" [disabled]="pageNumber == 1" (click)="onBack()">
      <ion-icon color="primary" name="arrow-back"></ion-icon>
    </button>
    <div class="fd-basis" style="position: absolute; bottom: 20px; width:calc(100% - 25px);">
      <button clear icon-only ion-button type="submit" name="submit" style="font-size: 1.4em" *ngIf="pageNumber == 2" [disabled]="!newOfferForm.valid || !this.fileURI || this.locations.selected === 0">
        <ion-icon color="primary" name="md-checkmark"></ion-icon>
      </button>
    </div>
    <button clear style="position: absolute; bottom: 20px; right: 10px;font-size: 1.4em" ion-button icon-only type="button" name="back" [disabled]="pageNumber == 2" (click)="onNext()">
      <ion-icon color="primary" name="arrow-forward"></ion-icon>
    </button>
  </form>
  <mercial-loader [awaiting]="true" inline></mercial-loader>
</ion-content>
