<ion-content>
  <ng-container *ngIf="loaderService.loading !== undefined && !loaderService.loading">

    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="person" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="accountForm" (ngSubmit)="onAccountSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'email_address' | translate }}" type="email" name="email" autocomplete="email" required formControlName="email" primary></ion-input>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'password' | translate }}" type="password" name="password" autocomplete="current-password" formControlName="password" primary></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="accountForm.invalid || !accountForm.dirty">{{'update'|translate}}</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="home" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="franchiseForm" (ngSubmit)="onFranchiseSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'franchise_name' | translate }}" type="text" name="name" autocomplete="franchise-name" required formControlName="name" primary></ion-input>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'franchise_owner' | translate }}" type="text" name="owner" autocomplete="name" required formControlName="owner" primary></ion-input>
          </ion-item>
          <div class="break" small></div>
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input placeholder="{{ 'franchise_website' | translate }}" type="url" name="website" autocomplete="url" formControlName="website" primary></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="franchiseForm.invalid">{{'update'|translate}}</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="briefcase" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <span *ngIf="legal_valid" (click)="onStripeLogin()" class="stripe-connect"><span>Log in to Stripe</span></span>
        <span *ngIf="!legal_valid" (click)="onStripeRegister()" class="stripe-connect"><span>Connect with Stripe</span></span>
        <p class="fd-form-text mtb-small">{{'stripe_valid' | translate}}</p>
        <p class="fd-form-text mtb-small">{{'stripe_info_text' | translate}}</p>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="pin" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="locationForm" (ngSubmit)="onLocationSubmit()">
          <ion-list>
            <ng-container *ngFor="let location of locations; let i = index">
              <ion-item class="fd-list-item fd-item-strikeable mtb-small" title="Remove" *ngIf="!location.d" (click)="deleteLocation(i)" clickable>{{ location.f }}</ion-item>
            </ng-container>
          </ion-list>
          <ion-item (click)="resetLocation()" no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input primary placeholder="{{ 'franchise_address' | translate }}" type="text" name="address"  autocomplete="off" autofill="off" spellcheck="false" required readonly clickable formControlName="address"></ion-input>
          </ion-item>
          <input type="hidden" name="franchise-lat" class="fd-input" autocomplete="off" spellcheck="false" required formControlName="lat"/>
          <input type="hidden" name="franchise-lng" class="fd-input" autocomplete="off" spellcheck="false" required formControlName="lng"/>
          <input type="hidden" name="franchise-postal" class="fd-input" autocomplete="off" spellcheck="false" required formControlName="postal"/>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="locationForm.invalid">{{'update'|translate}}</button>
          </div>
          <p class="fd-form-text mtb-small">{{'location_verification_franchises' | translate}}&nbsp;<a [navPush]="Help" [navParams]="{fragment : 'franchise-location'}" inline translate>more$ellipsis</a></p>
        </form>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="people" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="managerForm" (ngSubmit)="onManagerSubmit()">
          <ion-list *ngIf="managerCode">
            <ion-item [attr.protect]="managerCodeShow ? null : true" text-center class="fd-list-item mtb-small" clickable (click)="managerCodeShow = !managerCodeShow">{{managerCodeShow ? managerCode : '&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;'}}</ion-item>
          </ion-list>
          <div class="break" small *ngIf="managerCode"></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit">{{'update'|translate}}</button>
          </div>
          <p class="fd-form-hid-text">{{'managers_ft' | translate}}&nbsp;<a routerLink="/help" fragment="franchise-managers" inline translate>more$ellipsis</a></p>
        </form>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="lock" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="privacyForm" (ngSubmit)="onPrivacySubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-checkbox primary placeholder="{{ 'notifications' | translate }}" name="notif-permission-one" formControlName="notif"></ion-checkbox>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" [disabled]="privacyForm.invalid || !privacyForm.dirty">{{'update'|translate}}</button>
          </div>
        </form>
      </ion-card-content>
    </ion-card> -->
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="archive" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <ion-item no-margin no-border class="fd-item fd-input-holder" center>
          <ion-select #legalSelect placeholder="{{'legal_doc' | translate}}" style="width:100%; text-align:center; max-width: 100%;" clickable (ionChange)="onLegalView($event)">
            <ion-option [disabled]="true" translate>select_one$ellipsis</ion-option>
            <ion-option *ngFor="let option of legalDocs; let i = index" [value]="option.value" translate>{{ option.formatted }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div class="break" small></div>
    <ion-card>
      <ion-card-header header-font primary>
        <button no-margin class="fd-analytic-icon" ion-button icon-only>
          <ion-icon name="trash" color="primary"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <form class="fd-card-full-form" [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteSubmit()">
          <ion-item no-margin no-border class="fd-item fd-input-holder" center>
            <ion-input primary placeholder="{{ 'confirm_email_address' | translate }}" type="text" name="email-confirm-delete" autocomplete="off" formControlName="email" (input)="validateDeletion()"></ion-input>
          </ion-item>
          <div class="break" small></div>
          <div class="fd-basis">
            <button round caps ion-button color="primary" type="submit" name="submit" *ngIf="deletionIsValid" [disabled]="deleteAccountForm.invalid" translate>delete</button>
          </div>
          <p class="fd-form-text mtb-small">{{'delete_ft' | translate}}&nbsp;<a [navPush]="Help" [navParams]="{fragment : 'delete-account-info'}" inline translate>more$ellipsis</a></p>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
