<ion-header>
  <ion-toolbar color="background">
    <ion-buttons left>
      <button (click)="onBack()" ion-button icon-only>
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="text-center" *ngIf="!mCodeSuccess" primary tb-header>{{'scan_manager_code' | translate}}</ion-title>
    <ion-title class="text-center" *ngIf="mCodeSuccess" primary tb-header>{{'scan_an_offer' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="codeContainer" *ngIf="codePrompt">
    <div class="showwer" primary>{{ userCode }}</div>
    <div class="pad">
      <span class="digit" primary (click)="onAddCode('1')">1</span>
      <span class="digit" primary (click)="onAddCode('2')">2</span>
      <span class="digit" primary (click)="onAddCode('3')">3</span>
      <span class="digit" primary (click)="onAddCode('4')">4</span>
      <span class="digit" primary (click)="onAddCode('5')">5</span>
      <span class="digit" primary (click)="onAddCode('6')">6</span>
      <span class="digit" primary (click)="onAddCode('7')">7</span>
      <span class="digit" primary (click)="onAddCode('8')">8</span>
      <span class="digit" primary (click)="onAddCode('9')">9</span>
      <span class="digit" primary (click)="onAddCode('0')">0</span>
      <ion-icon class="digit" name="backspace" (click)="onDeleteCharacter()" primary></ion-icon>
    </div>
  </ion-card>
  <div class="fini success" [attr.invisible]="!success" *ngIf="success" (click)="retryScanner()">
    <ion-icon class="material-icons ssi" name="checkmark"></ion-icon>
  </div>
  <div class="fini success bottom" [attr.invisible]="!success" *ngIf="success" (click)="retryScanner()">
    <span class="material-icons ssi">{{ savings | currency }}</span>
  </div>
  <div class="fini error" [attr.invisible]="!error" *ngIf="error" (click)="retryScanner()">
    <ion-icon class="material-icons ssi" name="close"></ion-icon>
  </div>
  <mercial-loader [awaiting]="false" inline></mercial-loader>
</ion-content>
