<ion-content>
  <span class="break" small></span>

  <ion-item no-border class="fd-item fd-input-holder" center>
    <ion-input primary [placeholder]="'search' | translate" type="text" (keyup)="onSearch($event)"></ion-input>
  </ion-item>

  <span class="break" small></span>

  <ng-container *ngFor="let faq of faqs">
    <ion-card [id]="faq?.param">
      <ion-card-header primary style="white-space: normal">
        {{ faq?.title }}
      </ion-card-header>
      <ion-card-content style="white-space: normal" [innerHTML]="faq?.answer" faq-text></ion-card-content>
    </ion-card>
    <div class="break" small></div>
  </ng-container>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
