<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button primary ion-button (click)="onSkipClick()">
        Skip
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="slides.getActiveIndex() == 2">
      <button primary ion-button (click)="onContinueClick()">
        Continue
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="purple">
  <ion-slides pager id="slides">
    <ion-slide class="slide">
      <h2 style="margin-bottom: 20px; color: #663399 !important;" class="fd-form-title heading" cursive white>Mercial</h2>
      <h2 style="margin-bottom: 10px; color: #663399 !important" class="heading" white translate>mercial_franchises</h2>
      <button type="button" name="beginSlides" (click)="slides.slideNext()" class="beginSlides"><ion-icon name="arrow-forward"></ion-icon></button>
    </ion-slide>

    <ion-slide class="slide">
      <div class="header-u-container">
        <h2 class="fd-form-title heading-two" cursive white style="color: #663399 !important;">Mercial</h2>
        <h2 class="heading" white translate style="color: #663399 !important;">key_features</h2>
      </div>
      <ul class="ft-list" style="color: #663399 !important;">
        <li class="ft-list-item" translate>kf_one</li>
        <li class="ft-list-item" translate>kf_two</li>
        <li class="ft-list-item" translate>kf_three</li>
        <li class="ft-list-item" translate>kf_four</li>
      </ul>
    </ion-slide>

    <ion-slide class="slide">
    <video [poster]="videoPoster" style="max-width: 95%; border-radius: 30px; box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.3);" preload="auto" id="video-explainer" controls>
      <source [src]="videoURL" type="video/mp4">
    </video>
  </ion-slide>

  </ion-slides>
</ion-content>
