<ion-content>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_refresh' | translate}}"
      refreshingSpinner="dots"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item no-lines *ngFor="let redeem of redeems; let i = index">
      <ion-card clickable (click)="onView(i)">
        <ion-card-header primary>
          {{ redeem.title }}
        </ion-card-header>
        <ion-card-content>
          <p class="mtb-small mlr-small"><span class="mlr-extrasmall bold">{{'user' | translate}}</span>: {{ redeem.user }}</p>
          <p class="mtb-small mlr-small"><span class="mlr-extrasmall bold">{{'revenue' | translate}}</span>: {{ redeem.revenue | currency }}</p>
          <p class="mtb-small mlr-small"><span class="mlr-extrasmall bold">{{'date' | translate}}</span>: {{ redeem.date | date:'medium'}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
<mercial-loader [awaiting]="true"></mercial-loader>
