<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button navPop ion-button icon-only>
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'search_loc' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    #address>
  </ion-searchbar>
</ion-content>
